@font-face {
  font-family: 'ComicCodeLigatures';
  src: url('/assests/ComicCodeLigatures-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicCodeLigatures';
  src: url('/assests/ComicCodeLigatures-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ComicCodeLigatures';
  src: url('/assests/ComicCodeLigatures-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ComicCodeLigatures';
  src: url('/assests/ComicCodeLigatures-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}